<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Estim8 Pro is a simple planning poker app with a fast and user-friendly UI. Ideal for agile and scrum teams. Efficient sprint estimations without registration.">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Estim8">
      <%= assigns[:page_title] || "Planning Poker" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="flex bg-afwhite antialiased">
    <div class="flex flex-col grow mx-3">
      <div class="flex flex-col flex-grow">
        <%= @inner_content %>
      </div>
    </div>
    <script type='text/javascript'>
    var Countly = Countly || {};
    Countly.q = Countly.q || [];
    Countly.app_key = 'a4243e6a4ffc2c92a7319f21d4a2a99c0a07f039';
    Countly.url = 'https://countly.scorpil.com';
    Countly.q.push(['track_sessions']);
    Countly.q.push(['track_pageview']);
    Countly.q.push(['track_clicks']);
    Countly.q.push(['track_errors']);
    (function() {
      var cly = document.createElement('script'); cly.type = 'text/javascript';
      cly.async = true;
      cly.src = 'https://countly.scorpil.com/sdk/web/countly.min.js';
      cly.onload = function(){Countly.init()};
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(cly, s);
    })();
    </script>
  </body>
</html>
