@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}
/* This file is for your main application CSS */
