@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

html {
    display: flex;
    min-height: -webkit-fill-available;
}

body {
    flex-grow: 1;
    font-family: 'Montserrat', sans-serif;
}
/* This file is for your main application CSS */
